<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  First and last name: <%= f.text_field :name , placeholder: "John Doe" %>
  Email: <%= f.text_field :email , placeholder: "email@email.com"%>
  Password: <%= f.password_field :password , placeholder:"********"%>
  Password Confirmation: <%= f.password_field :password_confirmation , placeholder:"********"%>
  <%= f.submit "Submit" %>

<% end %>