<div class="panel panel-default items">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      <tr>
      <% @products.each do |product|  %>
  <td>
    <%= image_tag product.image.tiny.url %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <%=humanized_money_with_symbol product.price %>
  </td>
  <td>


    <div>
<% quantity = @all_items.where(product_id: product.id).first.quantity%>
<%= quantity%>
    </div>


  </td>
  <td>
    <%=humanized_money_with_symbol product.price * quantity %>
  </td>
</tr>
<% end %>

      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%=humanized_money_with_symbol  @all_items.sum(&:total_price_cents) / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

 